<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBabyVaxAdmin">
        <activity
            android:name=".pages.BabyInfoPage"
            android:exported="false" />
        <activity
            android:name=".pages.AllBabiesPage"
            android:exported="false" />
        <activity
            android:name=".pages.EditVaccineInfoPage"
            android:exported="false" />
        <activity
            android:name=".pages.VaccineInfoPage"
            android:exported="false" />
        <activity
            android:name=".pages.ScheduleInfoPage"
            android:exported="false" />
        <activity
            android:name=".pages.SchedulesPage"
            android:exported="false" />
        <activity
            android:name=".pages.AddDosagePage"
            android:exported="false" />
        <activity
            android:name=".pages.AddVaccinePage"
            android:exported="false" />
        <activity
            android:name=".pages.EditProfile"
            android:exported="false" />
        <activity
            android:name=".pages.AccountInfoPage"
            android:exported="false" />
        <activity
            android:name=".components.bottomNav"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>